/* Leaflet popups */
.leaflet-popup {
margin-bottom: 0px;
z-index: 50;
}

.leaflet-popup-content {
margin: 0px 0px;
z-index: 50;
}

.leaflet-container a.leaflet-popup-close-button {
margin-top: 22px;
margin-right: -10px;
padding: 4px 3px 3px 4px;
width: 25px;
height: 25px;
background-color: white;
border-radius: 50%;
box-shadow: 0 1px 5px rgba(0,0,0,0.65);
z-index: 55;
}

.leaflet-popup-content-wrapper {
max-height: 350px;
overflow-y: scroll; /* has to be scroll, not auto */
-webkit-overflow-scrolling:touch;
overflow-x: hidden;
margin-top: 30px;
padding: 0px;
border-radius: 4px;
z-index: 50;
}

img.popup-top-image {
}

/* Custom popup regions */
.popupimage-expand {
font-size: 30px;
margin-top: -45px;
margin-right: 8px;
text-align: right;
color: #eee;
}
.popupimage-expand:hover {
color: #fff;
}

.popuptitle {
margin: 5px;
text-align: center;
}

.popupbody {
	margin: 5px;
  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.popupbody p {
font-size: 16px;
}

.popupbody h3 {
margin-top: 10px;
font-size: 20px;
}

.popupbody .btn {
width: 100%;
}

