p, li {
font-size: 16px;
}

a {
color: rgba(30,93,129,0.8);
}

a:hover {
color: rgba(30,93,129,1);
}

/* Z-INDEX Utilities */
.z10 {
z-index: 10;
}
.z20 {
z-index: 20;
}
.z30 {
z-index: 30;
}
.z40 {
z-index: 40;
}

.shadow {
-webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
}

/** Scrollbars **/
::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background-color: rgba(0,0,0,0.1);
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

::-webkit-scrollbar-thumb {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: rgba(0,0,0,0.6);
}

/** BUTTONS **/
.orbitist-btn {
  border-radius: 50px;
}

a.orbitist-btn {
	color: white;
}

a.orbitist-btn:hover {
	color: #eee;
}

.btn-default {
background-color: rgba(30,93,129,0.8);
border-color: rgba(30,93,129,0.6);
color: #eee;
}

.btn-default:hover {
background-color: rgba(30,93,129,1);
border-color: rgba(30,93,129,0.8);
color: white;
}

.btn-success {
background-color: rgba(30,93,129,0.8);
border-color: rgba(30,93,129,0.6);
color: #eee;
}

.btn-success:hover {
background-color: rgba(30,93,129,1);
border-color: rgba(30,93,129,0.8);
color: white;
}

.btn-info {
background-color: rgba(30,93,129,0.8);
border-color: rgba(30,93,129,0.6);
color: #eee;
}

.btn-info:hover {
background-color: rgba(30,93,129,1);
border-color: rgba(30,93,129,0.8);
color: white;
}

.btn-primary {
background-color: rgba(30,93,129,0.8);
border-color: rgba(30,93,129,0.6);
color: #eee;
}

.btn-primary:hover {
background-color: rgba(30,93,129,1);
border-color: rgba(30,93,129,0.8);
color: white;
}

.btn-orbitist {
background-color: rgba(241,194,137,0.9);
border-color: rgba(241,194,137,0.6);
color: #777;
}

.btn-orbitist:hover {
background-color: rgba(241,194,137,1);
border-color: rgba(241,194,137,0.8);
color: #333;
}

p.btn.btn-default {
overflow: hidden;
}


.spinner {
position: fixed;
width: 100%;
height: 100%;
top: 0;
bottom: 0;
left: 0;
right: 0;
background-color: white;
z-index: 9999999999999;
}
.sk-spinner-pulse {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80px;
  height: 80px;
  margin-top: -40px;
  margin-left: -40px;
  background-color: #2675a2;
  border-radius: 100%;
  -webkit-animation: sk-pulseScaleOut 1s infinite ease-in-out;
          animation: sk-pulseScaleOut 1s infinite ease-in-out; }
@-webkit-keyframes sk-pulseScaleOut {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0); }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0; } }
@keyframes sk-pulseScaleOut {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0); }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0; } }